########################
### Latex
########################

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lol
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.sta

## Intermediate documents:
*.dvi
*-converted-to.*

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

########################
### Temporary files
########################

.fuse_hidden*
